@import url('https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css');
.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.marker {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker:hover, .marker:active {
  filter: brightness(90%);
  border: 1px solid purple;
}
