.preview {
  background-color: rgba(255, 255, 255, 0.671);
  color: #333;
  position: fixed;
  top: 2rem;
  margin-left: 1rem;
  width: 80%;
  box-shadow: 0 0 15px -1px #928888ad;
   max-width: 30rem;
  height: 6rem;
  z-index: 40;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.preview:hover{
  filter: brightness(90%);
}

.picture {
  height: 100%;
  width: 10rem;
  max-width: 50%;
  overflow: hidden;
}

.image{
  height: 6rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.details {
  width:50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.type {
  color: #7d7a7a;
}
