.smallCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
  width: 90%;
  margin-bottom: 0.8rem;
  transition: all 0.2s;
  cursor: pointer;
  background-color: #fafafa;
  color: #000;
}

.smallCard:hover {
  filter: brightness(90%);
  transform: translateY(2px);
}

.grade {
  width: 4rem;
  height: 100%;
  text-align: center;
}

.name {
  margin-left: 1rem;
}
