.routeDetails {
  background-color: #fafafa;
  color: #333;
  min-height: 100%;
  /* max-width: 60rem; */
  margin: 4rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

.helper {
  height: 1px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 3rem;
  cursor: pointer;
  margin-left: 2rem;
  transition: all 0.2s;
}

.icon:hover {
  transform: translateY(-3px);
  filter: brightness(90%);
}

.image {
  width: 90%;
  max-width: 30rem;
  box-shadow: 0 0 10px -1px rgba(40, 40, 40, 0.5);
}

.routeInfo {
  margin: 0 auto;
  max-width: 30rem;
}
.routeInfo > * {
  margin-left: 1rem;
}

.grade {
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

.author {
  color: #a4161b;
  text-decoration: none;
  cursor: pointer;
}

.author:hover {
  filter: brightness(90%);
}

.light,
.description {
  color: #888;
}

.description {
  margin-top: 0;
  font-size: 1.25rem;
}

.show {
  background-color: #a4161b;
  color: #fff;
  border: none;
  margin-bottom: 4rem;
  width: 50%;
  max-width: 20rem;
  height: 3rem;
  font-size: 1.3rem;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
}

.show:hover,
.show:active {
  filter: brightness(90%);
  transform: translateY(-2px);
}
