html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Poppins','Helvetica Neue', arial, sans-serif;
	font-weight: 300;
	color: #fff;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #424242;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
